/* FONTS  */
@font-face {
  font-family: 'Public Sans';
  src: url('PublicSans-Regular.woff2') format('woff2'),
      url('PublicSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('PublicSans-Thin.woff2') format('woff2'),
      url('PublicSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('PublicSans-Medium.woff2') format('woff2'),
      url('PublicSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Common styles */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img{
  max-width: 100%;
  display: block;
}